dj-database-url==0.5.0
django-storages==1.6.6
Django==2.0.1
get==0.0.39
gunicorn==19.8.1
Pillow==5.0.0
post==0.0.26
public==0.0.65
pytz==2017.3
query-string==0.0.28
request==0.0.26
whitenoise==3.3.1
psycopg2
psycopg2-binary==2.7.4
boto3==1.7.23
botocore==1.10.23
s3transfer==0.1.13
