{% extends "base_generic.html" %}

{% block content %}

<article class="paddingWrapper fillHeight col-12" id="aboutBackground">
  <p>At I am Awesome . Life we are devoted to encouraging every person to love
    themselves. I started this company after a series of world travels connected
    me with the most amazing people I have ever met. Through my conversations I
    discovered that these people had no idea how special they were. Every person
    is capable of so much, if only they had the confidence to pursue their dreams.
    Please share a story of why you believe people are awesome through the Submit
    Story tab. If you would like to support the cause you can buy an “I am Awesome”
    t-shirt as a daily reminder of how awesome you are.</p>
</article>

{% endblock %}
