/* narrow styling */

/*variables*/
:root{
  --main-big-color: #236CA2;
  --sub-color: #f2f2f2;
  --default-font: 'Robot Slab', sans-serif;
  --header-height: 10vh;
  --footer-height: 10vh;
  --fill-height: 80vh;
}

/* generic styling */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  border: none;
 }
body{
  font-size: 5vw;
  line-height: 1.6;
  font-family: var(--default-font);
  Padding:0%;
  margin: 0%;
  overflow: auto;
  padding-top: var(--header-height);
}
img {
  /* defalt image scales to fit width */
  width: 100%;
}
table, tr, td{
  border: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  opacity: 1;
}
ul{
  list-style-type: none;
}
li {
  list-style-type: none;
}

/** screen size display**/
.largeScreensOnly{
  display: none;
}
.mediumScreensExclude {
}
.smallScreensOnly{
}

[class*="col-"] {
}
.row{
  content: :"";
  clear: both;
  display: table;
}

/* size options  */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.fillHeight{
  min-height: var(--fill-height);
}
.rightInFlow{
  right: 0;
}
.leftInFlow{
  left: 0;
}
.centeredInFlow{
  text-align: center;
  margin: auto;
}
.rightFloat{
  float: right;
}
.horizontalList{
  display: inline;
}
/* base_generic styling */
.paddingWrapper{
  padding: 40px;
  height: 100%;
}
.headerBtn{
}
.headerBtn:hover{
  opacity: 0.75;
  cursor: pointer;
}
#mainHeader {
  position: fixed;
  height: var(--header-height);
  top: 0;
  font-size: 6vw;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 0px 40px grey;
}
  /*list items*/
  #menuBtnList{
    background-color:transparent;
    float: right;
    color: inherit;
    text-decoration:none;
    border-bottom:1px solid transparent;
    width: 10%;
    padding: 5px;
  }
  #headerBtnCart{
    float: left;
    width: 10%;
    padding: 5px;
  }
  #cartForm{
    height: auto;
    width: 100%;
    padding-top: 5px;
  }
  #headerBtnMain{
    float: left;
    width: 80%;
    padding-top: 5px;
    text-align: center;
  }
  #dropDownListWrapper{
    display: none;
    position: fixed;
    z-index: 2;
    right: 0px;
    background-color: white;
    color: white;
    top: var(--header-height);
  }
  .menuBox{
    text-align: center;
    background-color: black;
    opacity: 0.75;
    width: max-content;
  }
  .dropDownListNode{
    border-left: 8px solid black;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14%;
    padding-right: 14%;
    text-align: left;
    white-space: nowrap;
  }
  .dropDownListNode:hover{
    border-left: 8px solid var(--main-big-color);
  }
  .nav{
    color: white;
    padding: 5px;
  }
  .nav:link{
    color: white;
  }
  .nav:active{
    color: white;
  }
  .nav:visited{
    color: white;
  }
  .UserStatus{
    color: white;
  }
#userItemMenuBox{
  border-top: 1px dashed white;
}
#dropMainLink{
  font-size: 20px;
}
#dropBoxHomeBtn{
}
#dropBoxHomeLinkSubmitStoryBtn{
}
#dropBoxProductBtn{
}
#dropBoxContactBtn{
}
#dropBoxFaqBtn{
}
#dropBoxCart{
}
#cartMain{
  float: left;
}
#dropDownListLogin{
  border-top: 1px dashed white;
}
#dropDownListLogout{
  border-top: 1px dashed white;
}

#flatPage{
  overflow: scroll;
}
.end{
  height: var(--footer-height);
  float: right;
  bottom: 0;
  right: 0;
  text-align: center;
  box-shadow: 0px 0px 40px grey;
}
#endTable{
  height: 100%;
}
#endTableRow{
}
#endTableBox{
  padding: 5px;
}
/*- intro styling -*/
.introContainer{
  background-image:url("../Photos/BlackAndWhiteMtn.jpeg");
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center top;
  opacity: 0.75;
  text-align: center;
  z-index:-1;
  height: var(--fill-height);
}
#introMainArt{
  display: inline-block;
  position: relative;
  margin-top: 30vh;
  padding: 2%;
  color: white;
  font-size: 20px;
  line-height: 1.3;
  border-left: 8px solid var(--main-big-color);
  background-color: black;
}
#introMainArt:hover {
  opacity: .5;
  cursor: pointer;
}
#introMainArt:active {
  opacity: inherit;
}



/*instructions*/
.goldenBox{
  width: 100%;
  /**Height determined by JavaScript**/
}
.bannerSection{
  background-color: black;
  opacity: 0.75;
  color: white;
  padding: 20px;
  font-family: Italianno;
  font-size: 30px;
}
.introWrapper{
  box-shadow: 0px 1px 10px grey;
}
.introInstructHead{
  font-size: 20px;
}
.introInstructParag{
  font-size: 5vw;
}
#writeIntro{
  left: 0;
  padding: 40px;
  border-bottom: 1px solid grey;
}
#readIntro{
  padding: 40px;
  text-align: left;
}
#aboutIntro{
  right: 0;
  padding: 40px;
  box-shadow: 0px -1px 10px rgba(0,0,0,.75), 0px 1px 10px rgba(0,0,0,.75);
}
#writeInstructionImage{
  float: right;
  position: relative;
  width: 55%;
  height: auto;
  margin: 10px;
  margin-top: -129px;
  margin-right: -40px;
  border-radius: 50%;
  background: transparent;
}
#readInstructionImage{
  float: left;
  position: relative;
  width: 100%;
  height: auto;
  margin: 10px;
  margin-top: 0px;
  background: transparent;
  z-index: 1;
  border-radius: 50%;
}
#aboutInstructionImage{
  float: right;
  position: relative;
  width: 55%;
  height: auto;
  background: transparent;
  z-index: 1;
  border-radius: 50%;
  margin: 10px;
  margin-top: -80px;
  margin-right: -40px;
}


/*- storys styling -*/

.storyContainer{
  width:100%;
  position: relative;
  margin: auto;
  margin-top: 5px;
  overflow: hidden;
}
.infoContainer{
  width: 100%;
  opacity: .9;
  text-align: center;
}
.storyImage{
  width: 100%;
  height: auto;
}
.storyImage:hover {
  opacity: 0.5;
}
.storyArticle{
  margin: 40px;
  border-left: 2px solid var(--main-big-color);
  padding-left: 4px;
}
.storyArticle:First-letter{
  font-size: 16vw;
  float: left;
  margin: -5vw 2vw -7vw 0vw;
  text-transform: uppercase;;
}
.storyTitle{
  position: absolute;
  text-align: center;
  background-color: black;
  width: 61%;
  color: white;
  opacity: 0.65;
  padding: 2%;
  top: 8.2vh;
  left: 30.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /*IE-9*/
  -webkit-transform: translate(-50%, -50%); /*safari*/
}

/*Add Story Form*/
.formListTitle{
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}
.formListInput{
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}
#addStoryList{
  background-color: var(--sub-color);
  width: 100%;
}
#id_title{
  width: 100%;
  font-size: 20px;
  background-color: white;
  border-radius: 4px;
  height: 100%;
}
#id_story{
  width: 100%;
  font-size: 15px;
  background-color: white;
  border-radius: 4px;
}
#id_photo{
  width: 100%;
  font-size: 5vw;
  background-color: white;
  border-radius: 4px;
}
#submitListNode{
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#upload-demo-wrapper{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 1;
}
#upload-demo{
  height: fit-content;
  margin-top: 30%;
}

/* story_detail styling */
#fullStoryTitle{
  text-align: center;
  font-size: 7vw;
}
.fullStoryButton{
  text-align: center;
  padding: 5px 20px;
}
#fullStoryButtonWrapper{
  margin-bottom: 20px;
  text-align: center;
}
/* profile styling specific*/
#profileWelcome{
  text-align: center;
  background-color: white;
  color: black;
  padding: 40px;
  font-family: var(--default-font);
  opacity: 1;
}
#profileStoryContainer{
  background-color: var(--sub-color);
  padding-top: 20px;
  box-shadow: 0px 0px 40px grey;
  }
#profileStoryHeader{
  text-align: center;
  background-color: var(--sub-color);
  color: black;
  font-family: var(--default-font);
}
#profileButton{
  padding: 10px;
  font-size: 6vw;
}
#profileImage{
  border-radius: 50%;
  width: 50%;
  margin: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

/* login/out/create Style*/
.loginWrapper{
  margin: auto;
  padding: 5px;
  background-color: #f2f2f2;
  opacity: 0.75;
}
.basicButtonLogin{
  background-color: var(--main-big-color);
  /* background: linear-gradient(var(--main-sub-color), var(--main-big-color ) ); */
  border: 1px solid var(--main-big-color);
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  opacity: 0.75;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 5vw;
}
.signupListTitle{
}
.singupListInput{
}
.accessWrapper{
  padding: 40px 0px 0px 0px;
  color: black;
  background-color: var(--sub-color);
  background-image:url("../Photos/Guy at Ocean.png");
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center top;
}
#loginUpperWrapper{
  position: relative;
  text-align: center;
  padding-bottom: 80px;
}
#loginLowerWrapper{
  position: absolute;
  bottom: 130px;
  text-align: center;
}
#warningMessage{
  margin-bottom: -80px;
}
#signupButtonReturn{
  padding: 1vw 2vw 1vw 2vw;
  text-align: center;
}
#signupButtonSubmit{
  padding: 1vw 2vw 1vw 2vw;
  text-align: center;
  font-size: 5vw;
}
#signupWrapper{
  padding-left: 20px;
}

/**Contact Page**/
#contactWrapper{
  text-align: center;
  background-image:url("../Photos/super kid.png");
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center top;
}
/*FAQ page*/
#faqWrapper{
  text-align: left;
  background-image:url("../Photos/People on truck.png");
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center top;
}
#faqList{
  background-color: white;
  opacity: 0.65;
  padding: 10px;
}

/*products*/
.productContainer{
  background-color: white;
  display: inline-block;
  width: 49%;
  text-align: center;
}
#productListWrapper{
  padding: 20px 10px;
}
#productDetailWrapper{
  text-align: center;
}
#producName{
  font-weight: bold;
}
.productWrapper{
  padding-left: 20px;
  padding-right: 20px;
}
#productDescriptionWrapper{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

/*About page */
#aboutBackground{
  background-image:url("../Photos/sun and ocean.png");
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center top;
  box-shadow: 0px 0px 500px white inset;
}
