{% extends "base_generic.html" %}

{% block content %}

{% load app_filters %}
<head>
  {% load static %}
</head>



<section id="addStoryList">
  <form id="myForm" class="fillHeight" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <ul class="fillHeight col-12" >

      <li class="formListTitle col-12">Story Title</li>
      <li class="formListInput col-12"> {{ form.title }}</li>

      <li class="formListTitle col-12">Story</li>
      <li class="formListInput col-12"> {{ form.story }} </li>

      <li class="formListTitle col-12">Photo</li>
      <li id="photoForForm" class="formListInput col-6"><a> {{ form.photo }} </a></li>

      <hr>

      <li class="col-6">
        <div style="width:50%">
          <div id="cropper"></div>
        </div>
        <div>
          <button id="rotate_image" class="basicButtonLogin rotate" type="button" data-deg="-90" disabled>Rotate</button>
        </div>
      </li>


      <li id="submitListNode">
        <button id="submitFormButton" type="submit" value="submit" class=" Button basicButtonLogin col-12" value="submit">Submit</button>
      </li>

    </ul>

  </form>


</section>


{{ form.media }}


{% endblock %}
