{% extends "base_generic.html" %}

{% block content %}

<section class="backgroundStoryDetail col-12">
  <section class="fillHeight col-8 centeredInFlow" id="fullStoryContainer">
    <section>
      <img src=" {{ story.photo.url }}" alt="{{ story.title }}"></img>
      <h1 class="col-12" id="fullStoryTitle">{{ story.title }}</h1>
      <section class="storyArticleFull">
        {{  story.story|linebreaksbr }}
      </section>
    </section>

    <section id="fullStoryButtonWrapper">
      <ul>
        <li class="horizontalList">
          <button class="basicButtonLogin">
            <a href="{% url 'create-story' %}">Write a Story</a>
          </button>
        </li>
        <li class="horizontalList">
          <button class="basicButtonLogin">
            <a href="{% url 'storyList' %}">All Stories</a>
          </button>
        </li>
      </ul>
    </section>
  </section>
</section>

{% endblock %}
